<app-home-header></app-home-header>

<nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" style="height: 100%;">
        
            <li nz-menu-item >
                <a routerLink='/user'>用户管理</a>
            </li>
            <li nz-menu-item >
                <a routerLink='/user'>用户管理</a>
            </li>
            <li nz-menu-item >
                <a routerLink='/user'>用户管理</a>
            </li>
            <li nz-menu-item >
                <a routerLink='/user'>用户管理</a>
            </li>
            <li nz-menu-item >
                <a routerLink='/user'>用户管理</a>
            </li>
            <li nz-menu-item >
                <a routerLink='/user'>用户管理</a>
            </li>    
        </ul>
    </nz-sider>
    <nz-content>
        <router-outlet></router-outlet>
    </nz-content>
</nz-layout>

<app-home-footer></app-home-footer>
